<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.github }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
            {{ with .Site.Params.social.twitter }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>{{end}}
            {{ with .Site.Params.social.instagram }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>{{end}}
            {{ with .Site.Params.social.linkedin }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>{{end}}
            {{ with .Site.Params.social.email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
        </ul>
        <div class="clear"></div>
        <p>English versions of my website Online: <a rel="alternate" hreflang="en-gb" href="http://arthur.camberlein.fr/en/" target="_blank">UK version</a> || <a rel="alternate" hreflang="en-us" href="/us/" target="_blank">US version</a></p>
        <p>French versions of my website Online: <a rel="alternate" hreflang="fr-fr" href="https://arthur.camberlein.fr/" target="_blank">FR version</a> || <a rel="alternate" hreflang="fr-ca" href="https://arthur.camberlein.fr/qc/" target="_blank">QC version</a>  || <a rel="alternate" hreflang="fr-lu" href="https://arthur.camberlein.fr/lu/" target="_blank">LU version</a></p>
        <p><p>All rights reserved to Arthur CAMBERLEIN & Camberlein.com - Created and coded ❤ by <a href="/">Arthur Camberlein SEO and Data Specialist</a></p>
</div>
</footer>